*{
    padding: 0;
    margin: 0;
    font-family: Corbel;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
body{
    background-color: lightblue;
    height: 100%;
}

h3{
    font-size: 50px;
    text-decoration: underline black;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0 70px 0;
}
.flex-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.choice{
    display: flex;
    border: 3px solid black;
    font-size: 35px;
    height: 350px;
    padding: 35px 50px;
    align-items: center;
    background-color: #71c1cd;
}
.choice:hover{
    box-shadow: 5px 10px #505050;
    transform: scale(1.1);
    background-color: #519ba5;
    border: none;
}
.img-wrap{
    display: flex;
    justify-content: center;
}
.img{
    width: 65%;
    height: 65%;
}
.question{
    border-top: 3px solid #2c8199;
    border-bottom: 3px solid #2c8199;
    font-size: 35px;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 35px;
    background-color: #42a8c4;
    padding: 10px;
}
.answers{
    display: flex;
    justify-content: space-around;
    margin: 30px 45px 50px 45px;
}
.answer{
    border: 5px solid black;
    margin: 20px;
    padding: 15px;
    font-size: 25px;
    width: 220px;
    height: 85px;
}
.answer:hover{
    transform: scale(1.05);
    border: none;
    box-shadow: 3px 7px #505050;
}
.to_main {
    display: flex;
    border: 3px solid black;
    font-size: 40px;
    align-items: center;
    padding: 25px;
    margin: 30px 15px;
    background-color: #71c1cd;
}
.to_main:hover{
    box-shadow: 5px 10px #505050;
    transform: scale(1.05);
    background-color: #519ba5;
    border: none;
}

.ending{
    font-size: 64pt;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
}
.text_ending{
    font-size: 48pt;
    margin: 44px;
}
.text_ending>span{
    font-size: 48pt;
}
